.idea
/venv
.env
__pycache__
node_modules
app.log

# generate gitignore for python


# generate gitignore for python
# https://www.toptal.com/developers/gitignore/api/python
# https://www.toptal.com/developers/gitignore/api/pycharm
# https://www.toptal.com/developers/gitignore/api/pycharm+all
# https://www.toptal.com/developers/gitignore/api/pycharm+all
# https://www.toptal.com/developers/gitignore/api/pycharm+all
# https://www.toptal.com/developers/gitignore/api/pycharm+all
# https://www.toptal.com/developers/gitignore/api/pycharm+all
# https://www.toptal.com/developers/gitignore/api/pycharm+all
test.py
