<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    {% block title %}
    <title>Best Price Tracker - Track Prices on Your Favorite Products</title>
    {% endblock %}
    <meta name="description"
          content="Track prices on your favorite products with our easy-to-use price tracker. Get the best deals and never overpay again. Try it now!"/>
    <link rel="stylesheet" href="{% static 'styles/style.css' %}"/>
    <link rel="preconnect" href="https://fonts.googleapis.com"/>
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
    <link href="https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@1,700&display=swap" rel="stylesheet">
    <link rel="icon" href="{% static 'favicon/star.gif' %}" type="image/gif"/>
</head>
<body class="relative min-h-screen bg-beige text-graphite">
{% include 'navbar.html' %}
<main>
    {% include 'search_box.html' %}
    <section class="mx-auto max-w-7xl py-20 px-4 text-graphite sm:px-6 lg:px-8">
        {% block content %}
        {% endblock %}
    </section>
</main>
{% include 'footer.html'%}
</body>
</html>
