{% load static %}
<footer
        class=" absolute bottom-0 w-full rounded-lg bg-beige p-1 shadow flex items-center justify-between"
>
    <span class="text-sm text-gray-500"> © 2022. </span>
    <ul
            class="mt-3 flex flex-wrap items-center text-sm text-gray-500 mt-0"
    >
        <li>
            <a href="https://github.com/Ryszard-S" target="_blank" class=" block w-5 h-5 mr-4 hover:underline">
                <img src="{% static 'icons/GitHub-Mark-120px-plus.png' %}"/>
            </a>
        </li>

    </ul>
</footer>