{% extends 'base.html' %}

{% block content %}


<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex justify-evenly">
        <p>Marka</p>
        <p>Nazwa</p>
        <p>Sklep</p>
        <p>Kategoria</p>
    </div>
    <hr class="border-graphite"/>
    <div class="mt-10">
        <ul role="list" class="grid grid-cols-1 gap-10">
            {% for product in products %}
            <a href="/product/{{product.id}}">
                <li class="border-spacing-11 rounded-3xl border-2 border-graphite p-6 hover:border-red">
                    <div class="flex justify-evenly">
                        <p class="m-1">{{ product.brand_id.brand_name }}</p>
                        <p class="m-1">{{ product.product_name }}</p>
                        <p class="m-1">{{ product.shop_id.name }}</p>
                        <p class="m-1">{{ product.category_id.category_name }}</p>

                    </div>
                </li>
            </a>
            {% endfor %}
        </ul>
    </div>
</div>


<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?q={{ request.GET.q }}&page={{ page_obj.next_page_number }}">next</a>
            <a href="?q={{ request.GET.q }}&page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

{% endblock %}